@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-y: visible;
  overflow-x: hidden;
  position: relative;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .handle-max-w {
    @apply max-w-screen-xl mx-auto;
  }

  .project-section {
    @apply h-fit w-fit mt-24 p-4 md:p-8 xl:h-screen xl:w-screen shrink-0;
  }

  .link {
    @apply text-teal font-black;
  }

  .hover-translate-up {
    @apply hover:-translate-y-1 transition-transform duration-75;
  }
}

/* if i feel like it... */
/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: theme("colors.white");
}

::-webkit-scrollbar-thumb {
  background: theme("colors.light-black");
}

::-webkit-scrollbar-thumb:hover {
  background: theme("colors.gray.600");
} */
