@tailwind base;
@tailwind components;
@tailwind utilities;

/* debug */
/* * {
  background: rgb(0 0 200 / 0.1) !important;
} */

html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-y: visible;
  overflow-x: hidden;
  position: relative;
}

@layer utilities {
  .handle-max-w {
    @apply max-w-screen-xl mx-auto;
  }

  .project-section {
    @apply h-fit w-fit mt-24 p-4 md:p-8 xl:h-screen xl:w-screen shrink-0;
  }

  .link {
    @apply text-teal font-black;
  }

  .brand-container {
    @apply flex flex-col gap-2 items-center w-fit transition-transform duration-300 ease-in-out;
  }

  .brand {
    @apply size-32 lg:size-44 transition-all duration-300 ease-in-out;
  }

  .brand-title {
    @apply uppercase font-black;
  }

  .hover-translate-up {
    @apply hover:-translate-y-1 transition-transform duration-75;
  }
}

/* if i feel like it... */
/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: theme("colors.white");
}

::-webkit-scrollbar-thumb {
  background: theme("colors.light-black");
}

::-webkit-scrollbar-thumb:hover {
  background: theme("colors.gray.600");
} */
