@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .handle-max-w {
    @apply max-w-screen-xl mx-auto;
  }
}



/* if i feel like it... */
/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: theme("colors.white");
}

::-webkit-scrollbar-thumb {
  background: theme("colors.light-black");
}

::-webkit-scrollbar-thumb:hover {
  background: theme("colors.gray.600");
} */
